<p>
  This example specifies <code>axis="y"</code> to limit dragging to vertically only.
</p>

<div style="width: 400px; overflow: hidden; float: left">
  view: {{view.elementId}}
  {{view.childViews.length}} <br> {{view.childViews}}

  {{#draggable-each context=items axis="y" handleSelector=".draggable-item-handle" itemWasMoved="itemWasMoved"}}
    {{render 'render-helper-item' this}}
  {{/draggable-each}}
</div>
